<ion-header>
  <ion-toolbar>
    <ion-title>mapa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button class="mapbutton">
      Ver mapa 
    </ion-button>
  </ion-card>
</ion-content>
